.Duis-autem-vel-eum {
  float: left;
  width: 26.40%;
  height: 38px;
  font-family: BellMT;
  font-size: 28px;
  text-align: center;
  color: #272220;
  margin-left: 36.8%;
  margin-top: 34px;
}

.aboutus-content{
	width:74.26%;
	height:819px;
	margin-left: 12.86%;
	margin-top: 92px;
	float: left;
}

.Duis-autem-vel-eum-aboutus1 {
  width: 43.20%;
  height: 240px;
  font-family: BellMT;
  font-size: 15px;
  line-height: 1.6;
  color: #7b726f;
  float: left;
  margin-top: 10px;
}

.screenshot-handmade-shopcmsmastersnet-2017-03-22-04-16-51 {
  width: 47.30%;
  height: 355px;
  float: left;
  margin-left: 9.49%;
}

.screenshot-handmade-shopcmsmastersnet-2017-03-22-04-16-52{
  width: 47.05%;
  height: 384px;
  margin-top: 80px;
  float: left;
}

.Duis-autem-vel-eum-aboutus2 {
  width: 366px;
  height: 312px;
  font-family: BellMT;
  font-size: 15px;
  line-height: 1.6;
  color: #7b726f;
  float: left;
  margin-left: 4.49%;
  margin-top: 90px;
}

.Rectangle-aboutus8 {
  width: 100%;
  height: 12px;
  margin-top: 218px;
  background-color: #f8f7f5;
}

.aboutus-brands-title{
  font-family: BellMT;
  font-size: 22px;
  text-align: center;
  color: #272220;
  margin-left: 47.11%;
  width:6.18%;
  height:;
  margin-top: 55px;
}

.aboutus-brands{
	margin-left: 11.52%;
	width:77.43%;
	height:161px;
	margin-top:52px;
	margin-bottom: 130px;
}

.aboutus-Bitmap-brand{
	margin-left: 11px;
	width: 15.15%;
  	height: 159px;
  	border: solid 1px #979797;
}