<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        
    <!--main_page.css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>paypal checkout page</h1>

    <h2>produt name: test item</h2>
    <h2>total: $10</h2>

    <form action="/cart" method="post">
        <input class="btn btn-primary" type="submit" value="Checkout With Paypal">
    </form>
    <a class="btn checkout-dowlla" href="./checkout">CHECKOUT</a>
</body>
</html>
