<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AURA PUR</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/checkout.css" rel="stylesheet" />
    <script src="assets/js/jquery-1.10.2.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</head>
<body>
	<div>
		<div class="Rectangle-7 "><a class="FREE-SHIPPING-ON-ORD "><span class="text-style-1 ">FREE</span> SHIPPING ON ORDERS OVER $50
		</a></div>
		<div class="inner" style="width:78.75%;margin-left:10.27%;height:1250px;">
			<div class="brandbar">
				<ul>
					<li class="AURA-PUR"><a href="home_page2.html" style="text-decoration:none;color:#4a4a4a;">
						<img src="images/logo.png" />
					</a></li>
					<li class="Rectangle"><input class="Rectangle-1"/><icon class="search-icon"></icon></li>
					<li class="cart" style="margin-left:140px;"><a href="23MyOrders.html"><img src="images/user.png"></a></li>
					<li class="cart" style="margin-left:30px;"><img src="images/inbox.png"></li>
					<li class="cart" style="margin-left:30px;"><a href="shopping_cart.html"><img src="images/shopping cart.png"></a></li>
				</ul>
			</div>
			<div class="navbar">
				<ul class="nav-1">
					<li class="navTitle1 navTitle-2" style="margin-left:4%;"><a href="product_list_page.html">SKIN CARE</a></li>
					<li class="navTitle navTitle-2">HAIR PRODUCT</li>
					<li class="navTitle navTitle-2">MAKEUP</li>
					<li class="navTitle navTitle-2">BATH AND BODY</li>
					<li class="navTitle navTitle-2"><a href="brandPage.html"href="product_detail_page.html">BRANDS</a></li>
				</ul>
				<ul class="nav-2">
					<li class="nav-2-2 SELL-ON-AURA-ABOUT-U">SELL ON AURA</li>
					<li class="nav-2-1 SELL-ON-AURA-ABOUT-U"><a href="aboutUs.html"href="product_detail_page.html">ABOUT US</a></li>
				</ul>
			</div>
			<div class="content"  style="border:none;height:25px;padding-bottom:40px;">
				<div class="Home-Healing-Hydra">Home > Order Comfirmation</div>
			</div>
			<div class="Order-Comfirmation">Order Comfirmation</div>
			<div class="checkout-confirm">
				<div class="check-blank-title">THANKS FOR YOUR PURCHASE</div>
				<div class="check-out-right"><img src="images/check-out-confirm.JPG"></div>
				<div class="check-out-suggestion">Your order confirmation has been sent to your email.  </div>
				<div class="check-out-button">KEEP SHOPPING</div>
			</div>
			<div class="You-May-Also-Like">You May Also Like</div>
			<div class="check-out-recommend">
				<div class="check-out-product" style="margin-left:0;">
					<img src="images/Product/Bitmap0.png">
					<div class="check-out-product-explination">
						<a class="check-out-product-1">RADIANCE SERUM</a>
						<div class="check-out-product-1" style="margin-top:26px;">$78.00</div>
					</div>
				</div>
				<div class="check-out-product">
					<img src="images/Product/Bitmap0.png">
					<div class="check-out-product-explination">
						<a class="check-out-product-1">RADIANCE SERUM</a>
						<div class="check-out-product-1" style="margin-top:26px;">$78.00</div>
					</div>
				</div>
				<div class="check-out-product">
					<img src="images/Product/Bitmap0.png">
					<div class="check-out-product-explination">
						<a class="check-out-product-1">RADIANCE SERUM</a>
						<div class="check-out-product-1" style="margin-top:26px;">$78.00</div>
					</div>
				</div>
				<div class="check-out-product">
					<img src="images/Product/Bitmap0.png">
					<div class="check-out-product-explination">
						<a class="check-out-product-1">RADIANCE SERUM</a>
						<div class="check-out-product-1" style="margin-top:26px;">$78.00</div>
					</div>
				</div>
				<div class="check-out-product">
					<img src="images/Product/Bitmap0.png">
					<div class="check-out-product-explination">
						<a class="check-out-product-1">RADIANCE SERUM</a>
						<div class="check-out-product-1" style="margin-top:26px;">$78.00</div>
					</div>
				</div>
			</div>
		</div>
		<div class="Rectangle-content3">
			<div class="Rectangle-content32">
				<div class="aboutUs">
					<a class="Rectangle-content-font1">ABOUT US</a>
					<div class="Duis-autem-vel-eum-i">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat. Lorem ipsum dolor sit amet, cosectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam .</div>
				</div>
				<div class="usefulLinks">
					<a class="Rectangle-content-font1">USEFUL LINK</a>
					<div class="Duis-autem-vel-eum-a">
						<ul>
							<li class="Rectangle-content-font3"><a href="aboutUs.html">About Us</a></li>
							<li class="Rectangle-content-font3">Contacts</li>
							<li class="Rectangle-content-font3">Shipping, Return and Exchange</li>
							<li class="Rectangle-content-font3">Terms and conditions</li>
						</ul>
					</div>
				</div>
				<div class="followUs">
					<a class="Rectangle-content-font1">FOLLOW US</a>
					<div class="Duis-autem-vel-eum-a">
						<ul>
							<li class="Rectangle-content-font3">Facebook</li>
							<li class="Rectangle-content-font3">Instagram</li>
							<li class="Rectangle-content-font3">Twitter</li>
							<li class="Rectangle-content-font3">YouTube</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer"><a class="Auru-Pur-2017-All">Auru Pur 2017 | All Rights Reserved</a></div>
	</div>
</body>
<html>
