<!DOCTYPE html>
<html lang="en">
<head>
    <title>coconut  -  influencer-based short video commerce platform</title>

    
    <style>

    </style>
</head>
<body>
    
	<% include partials/heading.ejs %>

	
	<!--title image-->
	<div class="text-center" style="margin:0 10%; background-image: url('./title/5.png');background-repeat: no-repeat; background-size: cover;">
		<h3 class="text-center" style="padding: 3em 3em 0 3em;">COCO STAR</h3>
		<h4 class="text-center" style="padding: 0 3em 3em 3em; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">Join our growing network of Coco stars</h4>
	</div>
	
	<div class="">
		<div class="" align="right" style="margin: 0 10%;">
			<table><!--table keep things in one line-->
				<tr>
					<td><h6>Sort By</h6></td>
					<td><div class="dropdown">
						<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
						Price: Low to high
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">option 1</a>
							<a class="dropdown-item" href="#">option 2</a>
							<a class="dropdown-item" href="#">option 3</a>
						</div>
					</div></td>
				</tr>
			</table>
		</div>
		
		<br>
		
	
		<div class="coco-star-item row">
			<div class="col-md-4 coco-star-user">

				<div class="row">
					<div class="col-md-5">
						<div style="width: 80%">
						</div>
						<img src="usericon.jpg" style="width: 8em; height: 8em; border-radius: 50%; float:center;">
					</div>

					<div class="coco-star-item-profile col-md-7">
						<div style="text-align:left">
							<div class="row">
								<div class="col-md-12">
									<p class="small"><font size="3"><b>Winnie Brewer</b></font>
									<br>Boulder, CO
									<br> Fashion | Makeup | Bloger
									</p>
								</div>
							</div>
							<div class="row" style="width: 100%;">
								<div class="col-md-2 small">94<br>Posts</div>
								<div class="col-md-4 small">53<br>Following</div>
								<div class="col-md-4 small">3,454<br>Followers</div>
								<div class="col-md-2 small">238<br>Likes</div>
							</div>
							<button style="color: white; background-color: #f9859b; border-radius: 0;" class="coco-star-button-follow btn">
								<h6><font size="4">FOLLOW</font></h6>
							</button>
						</div>
					</div>
				</div>
				<br>

				<p class="small">The vine and grape extracts used for our patents come from the vineyards of Bordeaus...<br><font style="color:#f43d11;">read more</font></p>

			</div>

			<div class="col-md-2" style="padding: 1em 0.5em;">
				<div class="coco-star-item-video">
					<img style="width: 100%;" src="./title/cocostar.png">
				</div> 

				<div class="row" style="background-color: white; width: 100%; margin: auto;">
					<div class="col-sm-6"></div>
					<div class="col-sm-2 text-center small">
						<i class="fa fa-eye"></i>
						<p class="small">1.2M</p>
					</div>

					<div class="col-sm-2 text-center small">
						<i class="fa fa-heart"></i>
						<p class="small">like</p>
					</div>

					<div class="col-sm-2 text-center small">
						<i class="fa fa-comment"></i>
						<p class="small">2M</p>
					</div>
				</div>
			</div>


			<div class="col-md-2" style="padding: 1em 0.5em;">
				<div class="coco-star-item-video">
					<img style="width: 100%;" src="./title/cocostar.png">
				</div> 

				<div class="row" style="background-color: white; width: 100%; margin: auto;">
					<div class="col-sm-6"></div>
					<div class="col-sm-2 text-center small">
						<i class="fa fa-eye"></i>
						<p class="small">1.2M</p>
					</div>

					<div class="col-sm-2 text-center small">
						<i class="fa fa-heart"></i>
						<p class="small">like</p>
					</div>

					<div class="col-sm-2 text-center small">
						<i class="fa fa-comment"></i>
						<p class="small">2M</p>
					</div>
				</div>
			</div>

			<div class="col-md-2" style="padding: 1em 0.5em;">
				<div class="coco-star-item-video">
					<img style="width: 100%;" src="./title/cocostar.png">
				</div> 

				<div class="row" style="background-color: white; width: 100%; margin: auto;">
					<div class="col-sm-6"></div>
					<div class="col-sm-2 text-center small">
						<i class="fa fa-eye"></i>
						<p class="small">1.2M</p>
					</div>

					<div class="col-sm-2 text-center small">
						<i class="fa fa-heart"></i>
						<p class="small">like</p>
					</div>

					<div class="col-sm-2 text-center small">
						<i class="fa fa-comment"></i>
						<p class="small">2M</p>
					</div>
				</div>
			</div>

			<div class="col-md-2" style="padding: 1em 0.5em;">
				<div class="coco-star-item-video">
					<img style="width: 100%;" src="./title/cocostar.png">
				</div> 

				<div class="row" style="background-color: white; width: 100%; margin: auto;">
					<div class="col-sm-6"></div>
					<div class="col-sm-2 text-center small">
						<i class="fa fa-eye"></i>
						<p class="small">1.2M</p>
					</div>

					<div class="col-sm-2 text-center small">
						<i class="fa fa-heart"></i>
						<p class="small">like</p>
					</div>

					<div class="col-sm-2 text-center small">
						<i class="fa fa-comment"></i>
						<p class="small">2M</p>
					</div>
				</div>
			</div>
		</div>
		<!--end of a grey box-->

		<br><br>
			
		
		
	
	
	
	
    <footer>
    <br>
    <div class="container">
	<br>
    <div class="row">
		
        <div class="col-md-6">
        <b>ABOUT US</b>
		<br><p id="about-us" class="small">Aura Pur is changing the way brands sell and consumers shop. We're helping customers discover new hidden gems from an array of product categories within the 
		cosmetics world, while redefining the e-commerce experience with the use of videos unlike other traditional shopping platforms. With our AI-powered technology, 
		we're offering customers a more enhanced shopping experience by easily helping them find the cosmetic products they seek. The innovative technology also offers 
		brands more rich customer insights, and allows them to understand customer needs, all while scaling their business.

        </p>
        </div>
        
        <div class="col-md-3">
        <p><b>USEFUL LINKS</b>
        <br><a class="small" href='aboutus.html'>About Us</a>
        <br><a class="small" href='contactus.html'>Contact Us</a>
        <br><a class="small" href='shipping_and_returns.html'>Shipping and Returns</a>
        <br><a class="small" href='terms_and_consitions'>Terms and Conditions</a>
        </p>
        </div>
        
        <!--not sure if icons are needed for these-->
        <div class="col-md-3">
        <p><b>FOLLOW US</b>
        <br><a>Facebook</a>
        <br><a>Instagram</a>
        <br><a>Twitter</a>
        <br><a>YouTube</a>
        </p></div>
    </div>
    </div>
    </footer>
	
	
	<div class="text-center">
	<p>Auru Pur 2017 | All Rights Reserved</p>
	</div>
	
</body>

<script>


</script>
</html>