<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AURA PUR</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/home_page2.css" rel="stylesheet" />
    <script src="assets/js/jquery-1.10.2.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</head>
<body>
	<!--<div class="mask" id="mask"></div>
	<div class="adv" id="adv"><img src="images/Promotion.png"></div>
	<div class="mask-close-button" id="mask-close-button" onclick="mask_close()">Shop Free Sample</div>
	<script>
	    function mask_close(){
	    	document.getElementById("mask").style.display="none";
	    	document.getElementById("adv").style.display="none";
	    	document.getElementById("mask-close-button").style.display="none";
	    }
	</script>-->
	<div>
		<div class="Rectangle-7 "><a class="FREE-SHIPPING-ON-ORD "><span class="text-style-1 ">FREE</span> SHIPPING ON ORDERS OVER $50
		</a></div>
		<div class="inner" style="height:1100px;height: 93px; min-height:93px;width:90%;margin-left:10%;">
			<div class="brandbar">
				<ul>
					<li class="Rectangle-1000" style=""><img class="search-icon" src="images/home-page2-search.JPG" /><input class="Rectangle-1"/></li>
					<li class="AURA-PUR" style="margin-left:7.02%;width:30%;height:45%;margin-top:18px;">
						<img src="images/homepage.png" />
					</li>
					<li class="LOGIN-SIGN-UP" style="margin-left:10.76%;"><a href="23MyOrders.html">LOGIN</a>     
											  <a class="signUp">SIGN UP</a></li>
					<li class="cart" style="margin-left:30px;height:25px;"><a href="shopping_cart.html"><img src="images/Shopping_Cart.png"></a></li>
				</ul>
			</div>
			<div class="navbar" style="border:none;margin-top:30px">
				<ul class="nav-1" style="width:100%;">
					<li class="navTitle1 navTitle-2" style="margin-left:4%;"><a href="product_detail_page.html">SKIN CARE</a></li>
					<li class="navTitle1 navTitle-2">HAIR PRODUCT</li>
					<li class="navTitle1 navTitle-2">MAKEUP</li>
					<li class="navTitle1 navTitle-2">BATH AND BODY</li>
					<li class="navTitle1 navTitle-2"><a href="brandPage.html">BRANDS</a></li>
					<li class="navTitle1 navTitle-2">SELL ON AURA</li>
					<li class="navTitle1 navTitle-2"><a href="aboutUs.html">ABOUT US</a></li>
				</ul>
			</div>
		</div>
		<div class="product-list-content"  style="border:solid 0.5px #d9d9d9;margin-top: 90px;height:461px;">
			<div class="main_page_pic1">
				<div class="main_page_pic1_words_2" style="margin-left:1%;">BRAND STORY</div>
				<div class="main_page_pic1_words_1">The vine and grape extracts used for our patents come from the vineyards of Bordeaux.....<a href="brand_story_page.html">Read More</a></div>
			</div>
			<div class="main_page_pic2"><video src="video/Botani - Organic Skin Care .mp4" controls style="width:100%;height:100%;margin:0;padding:0;"></video></div>
			<div class="main_page_pic3">
				<div class="thefounder">THE FOUNDER</div>
				<div class="main-page-pic3-pic"><img src="images/first3.png" /></div>
				<div class="main-page-pic3-words1">“ I believe in a greener planet and more committed cosmetics. I formulate my products for all women.”</div>
				<div class="main-page-pic3-words2">Mathilde Thomas</div>
			</div>
		</div>
		<div class="product-list-content" style="border:solid 0.5px #d9d9d9;margin-top: 30px;">
				<div class="product-list-content-1">
					<div style="float:left;width:40%;font-family: SourceSansPro;">POPULAR PRODUCTS</div>
					<div class="See-More"><a href="product_detail_page.html">See More</a></div>
				</div>
				<div class="product-list-content-2">
					<div class="product-list-content-2-line">
						<div class="product-list-content-arror"><img src="images/arror-left.JPG"></div>
						<ul class="product-list-content-2-single" style="margin-left:4.8%;">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<div class="product-list-content-arror"><img src="images/arror-right.JPG"></div>
					</div>
				</div>
		</div>
		<div class="product-list-content"  style="border:solid 0.5px #d9d9d9;margin-top: 30px;">
				<div class="product-list-content-1">
					<div style="float:left;width:40%;font-family: SourceSansPro;">SKIN CARE</div>
					<div class="See-More"><a href="product_detail_page.html">See More</a></div>
				</div>
				<div class="product-list-content-2">
					<div class="product-list-content-2-line">
						<div class="product-list-content-arror"><img src="images/arror-left.JPG"></div>
						<ul class="product-list-content-2-single" style="margin-left:4.8%;">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<div class="product-list-content-arror"><img src="images/arror-right.JPG"></div>
					</div>
				</div>
		</div>
		<div class="product-list-content" style="border:solid 0.5px #d9d9d9;margin-top: 30px;">
				<div class="product-list-content-1">
					<div style="float:left;width:40%;font-family: SourceSansPro;">HAIR PRODUCT</div>
					<div class="See-More"><a href="product_detail_page.html">See More</a></div>
				</div>
				<div class="product-list-content-2">
					<div class="product-list-content-2-line">
						<div class="product-list-content-arror"><img src="images/arror-left.JPG"></div>
						<ul class="product-list-content-2-single" style="margin-left:4.8%;">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<div class="product-list-content-arror"><img src="images/arror-right.JPG"></div>
					</div>
				</div>
		</div>
		<div class="product-list-content"  style="border:solid 0.5px #d9d9d9;margin-top: 30px;">
				<div class="product-list-content-1">
					<div style="float:left;width:40%;font-family: SourceSansPro;">MAKEUP</div>
					<div class="See-More"><a href="product_detail_page.html">See More</a></div>
				</div>
				<div class="product-list-content-2">
					<div class="product-list-content-2-line">
						<div class="product-list-content-arror"><img src="images/arror-left.JPG"></div>
						<ul class="product-list-content-2-single" style="margin-left:4.8%;">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<div class="product-list-content-arror"><img src="images/arror-right.JPG"></div>
					</div>
				</div>
		</div>
		<div class="product-list-content"  style="border:solid 0.5px #d9d9d9;margin-top: 30px;">
				<div class="product-list-content-1">
					<div style="float:left;width:40%;font-family: SourceSansPro;">BATH AND BODY</div>
					<div class="See-More"><a href="product_detail_page.html">See More</a></div>
				</div>
				<div class="product-list-content-2">
					<div class="product-list-content-2-line">
						<div class="product-list-content-arror"><img src="images/arror-left.JPG"></div>
						<ul class="product-list-content-2-single" style="margin-left:4.8%;">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
							<li class="product-list-content-2-single-4">$40.00</li>
							<li class="product-list-content-2-single-5"><img src="images/star2.JPG"></li>
							<li class="product-list-content-2-single-6">Sold from <a class="text-style-productList-1">LAURA<a> </li>
						</ul>
						<div class="product-list-content-arror"><img src="images/arror-right.JPG"></div>
					</div>
				</div>
		</div>
		<div class="product-list-content" style="border:none;height:370px;">
				<div class="product-list-content-1" style="margin-top:24px;float:left;">
					<div style="float:left;width:40%;font-family: SourceSansPro;">FREE SAMPLES</div>
					<div class="See-More"><a href="product_detail_page.html">See More</a></div>
				</div>
				<div class="product-list-content-2" style="border:solid 0.5px #d9d9d9;">
					<div class="product-list-content-2-line">
						<div class="product-list-content-arror" style="margin-top:5%;"><img src="images/arror-left.JPG"></div>
						<ul class="product-list-content-2-single" style="margin-left:4.8%;">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
						</ul>
						<ul class="product-list-content-2-single">
							<li class="product-list-content-2-single-1"></li>
							<li class="product-list-content-2-single-2"><a href="product_detail_page.html"><img src="images/Product/Bitmap0.png"></a></li>
							<li class="product-list-content-2-single-3"><a href="product_detail_page.html" style="text-decoration:none;color:#4a4a4a;">StriVectin Multi-Action<br>Stress Defense Hydrating </a></li>
						</ul>
						<div class="product-list-content-arror" style="margin-top:5%;"><img src="images/arror-right.JPG"></div>
					</div>
				</div>
		</div>
		<div class="product-list-content" style="border:none;">
			<div class="product-list-content-2" style="border:solid 0.5px #d9d9d9;height:355px;">
				<div class="aboutus-brands-title" style="font-family: SourceSansPro;">BRANDS</div>
				<div class="aboutus-brands">
					<ul>
						<li class="aboutus-Bitmap-brand"><img src="images/brand/Bitmap2.png"></li>
						<li class="aboutus-Bitmap-brand"><img src="images/brand/Bitmap3.png"></li>
						<li class="aboutus-Bitmap-brand"><img src="images/brand/Bitmap4.png"></li>
						<li class="aboutus-Bitmap-brand"><img src="images/brand/Bitmap5.png"></li>
						<li class="aboutus-Bitmap-brand"><img src="images/brand/Bitmap6.png"></li>
						<li class="aboutus-Bitmap-brand"><img src="images/brand/Bitmap7.png"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="Rectangle-content3" style="background-color: #ffe0e6;">
			<div class="Rectangle-content32">
				<div class="aboutUs">
					<a class="Rectangle-content-font1">ABOUT US</a>
					<div class="Duis-autem-vel-eum-i">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat. Lorem ipsum dolor sit amet, cosectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam .</div>
				</div>
				<div class="usefulLinks">
					<a class="Rectangle-content-font1">USEFUL LINK</a>
					<div class="Duis-autem-vel-eum-a">
						<ul>
							<li class="Rectangle-content-font3"><a href="aboutUs.html">About Us</a></li>
							<li class="Rectangle-content-font3">Contacts</li>
							<li class="Rectangle-content-font3">Shipping, Return and Exchange</li>
							<li class="Rectangle-content-font3">Terms and conditions</li>
						</ul>
					</div>
				</div>
				<div class="followUs">
					<a class="Rectangle-content-font1">FOLLOW US</a>
					<div class="Duis-autem-vel-eum-a">
						<ul>
							<li class="Rectangle-content-font3">Facebook</li>
							<li class="Rectangle-content-font3">Instagram</li>
							<li class="Rectangle-content-font3">Twitter</li>
							<li class="Rectangle-content-font3">YouTube</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer"><a class="Auru-Pur-2017-All">Auru Pur 2017 | All Rights Reserved</a></div>
	</div>
</body>
<html>
