<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Paypal chackout page</title>
</head>

<body>
    <h1>paypal checkout page</h1>

    <h2>produt name: test item</h2>
    <h2>total: $10</h2>

    <form action="/paypal-pay" method="post">
        <input type="submit" value="Checkout">
    </form>
</body>
</html>
