<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AURA PUR</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <script src="js/jquery-2.0.3.min.js"></script>
</head>
<body>
	<div>
		<div class="Rectangle-7 "><a class="FREE-SHIPPING-ON-ORD "><span class="text-style-1 ">FREE</span> SHIPPING ON ORDERS OVER $50
		</a></div>
		<div class="inner">
			<div class="brandbar">
				<ul>
					<li class="AURA-PUR"><a href="home_page2.html" style="text-decoration:none;color:#4a4a4a;">
						<img src="images/logo.png" />
					</a></li>
					<li class="Rectangle"><input class="Rectangle-1"/><icon class="search-icon"></icon></li>
					<li class="LOGIN-SIGN-UP"><a href="23MyOrders.html">LOGIN</a>    
											  <a class="signUp">SIGN UP</a>
					</li>
					<li class="cart" style="margin-left:30px;"><a href="shopping_cart.html"><img src="images/shopping cart.png"></a></li>
				</ul>
			</div>
			<div class="navbar">
				<ul class="nav-1">
					<li class="navTitle1 navTitle-2" style="margin-left:4%;"><a href="product_list_page.html">SKIN CARE</a></li>
					<li class="navTitle navTitle-2">HAIR PRODUCT</li>
					<li class="navTitle navTitle-2">MAKEUP</li>
					<li class="navTitle navTitle-2">BATH AND BODY</li>
					<li class="navTitle navTitle-2"><a href="brandPage.html" ">BRANDS</a></li>
				</ul>
				<ul class="nav-2">
					<li class="nav-2-2 SELL-ON-AURA-ABOUT-U">SELL ON AURA</li>
					<li class="nav-2-1 SELL-ON-AURA-ABOUT-U"><a href="aboutUs.html" ">ABOUT US</a></li>
				</ul>
			</div>
			<div class="content">
				<div class="Home-Healing-Hydra">Home > Healing Hydrating Cream</div>
				<div class="Screen-Shot-2017-03-22-at-64718-AM"><video src="video/Vitamin C Serum Product Video.mp4" controls style="width:100%;height:100%;margin:0;padding:0;"></video></div>
				<div class="Healing-Hydrating-Cr">
					<div class="chuda"><a href="brandPage.html"><img src="images/CHUNA.JPG"></a></div>
					<div class="product-detail-page-chat"><img src="images/chat.png"></div>
					<div class="text-style-1">Healing Hydrating Cream </div>
					<div class="text-style-2">$150 - 180</div>
				</div>
				<div class="screenshot-wwwbeautybrandscom-2017-03-28-13-58-39"><img src="images/star.JPG"></div>
				<div class="sortPic">
					<ul>
						<li class="Lineleft"><img src="images/arror-left.JPG"></li>
						<li class="Bitmap"><img src="images/product detail page/Bitmap8.png"></li>
						<li class="Lineright"><img src="images/arror-right.JPG"></li>
					</ul>
				</div>
				<div class="sortRec">
					<div class="Rectangle-104left ml">30ml</div>
					<div class="Rectangle-104right ml">50ml</div>
				</div>
				<div class="sortQty">
					<ul>
						<li class="Qty">Qty</li>
						<li class="Qty">+</li>
						<li class="Qty">1</li>
						<li class="Qty">-</li>
					</ul>
				</div>
				<div class="Rectangle-235"><a href="shopping_cart.html" style="text-decoration:none;color:#4a4a4a;">ADD TO BASKET</a></div>
				<div class="sortIcon">
					<img src="images/icon.JPG">
					<!--<ul>
						<li class="icon-1">1</li>
						<li class="icon-1">1</li>
						<li class="icon-1">1</li>
					</ul>-->
				</div>
			</div>
			<div class="content-1">
				<div class="content-details" id=content-details1><div class="content-details-1" id="content-details-1" onclick="details()">DETAILS</div></div>
				<div class="content-about-the-brand" id="content-about-the-brand1"><div class="content-about-the-brand-1" id="content-about-the-brand-1" onclick="about_the_brand()">ABOUT THE BRAND</div></div>
				<div class="Screen-Shot-2017-03-30-at-123336-PM" id="content-details" style="display:block;">
					<div class="image-word"> A first ever formula rooted in centuries old, skin healing, Remedea Compound and boosted by the most scientifically advanced, medical grade actives - it's clinically proven to maximize the skin's ability to heal itself. Upon application an invisible healing dome (loaded with moisture) forms over the skin creating the perfect environment for skin to heal itself. Can be used as a primer, as a perfect canvas for true, long lasting makeup application also results from application.<br>
					<br>
    				Creates a dome of moisture for superior anti-aging benefits<br>
    				Ideal for dry, damaged or compromised skin<br>
    				Significantly reduces moisture loss<br>
    				Safe and gentle for delicate and sensitive skin<br>
					</div>
				</div>
				<div class="Screen-Shot-2017-03-30-at-123336-PM" id="content-about-the-brand" style="display:none;">
					<div class="image-word"> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat. Lorem ipsum dolor sit amet, cosectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.<br>
					<br>
					Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat. Lorem ipsum dolor sit amet, cosectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam,
					</div>
					<div class="image-words-button"><a href="brand_story_page.html" style="text-decoration:none;color:#000000;">READ FULL STORY</a></div>
				</div>
				<script>
					function details(){
						document.getElementById('content-details').style.display="block";
						document.getElementById('content-about-the-brand').style.display="none";
						document.getElementById('content-about-the-brand-1').style.border="none";
						document.getElementById('content-about-the-brand1').style.border="none";
						document.getElementById('content-about-the-brand1').style.background="transparent";
						document.getElementById('content-about-the-brand-1').style.fontWeight="400";
						document.getElementById('content-details-1').style.fontWeight="bolder";
						document.getElementById('content-details-1').style.borderBottom="solid 4px #000000";
						document.getElementById('content-details1').style.borderLeft="solid 1px #d9d9d9";
						document.getElementById('content-details1').style.borderRight="solid 1px #d9d9d9";
						document.getElementById('content-details1').style.borderTop="solid 1px #d9d9d9";
						document.getElementById('content-details1').style.background="#ffffff";
					}
					function about_the_brand(){
						document.getElementById('content-details').style.display="none";
						document.getElementById('content-about-the-brand').style.display="block";
						document.getElementById('content-details-1').style.border="none";
						document.getElementById('content-details1').style.border="none";
						document.getElementById('content-details1').style.background="transparent";
						document.getElementById('content-details-1').style.fontWeight="400";
						document.getElementById('content-about-the-brand-1').style.fontWeight="bolder";
						document.getElementById('content-about-the-brand-1').style.borderBottom="solid 4px #000000";
						document.getElementById('content-about-the-brand1').style.borderLeft="solid 1px #d9d9d9";
						document.getElementById('content-about-the-brand1').style.borderRight="solid 1px #d9d9d9";
						document.getElementById('content-about-the-brand1').style.borderTop="solid 1px #d9d9d9";
						document.getElementById('content-about-the-brand1').style.background="#ffffff";
					}
				</script>
				<div class="Rectangle-content22">
					<ul>
						<li class="Rectangle-content-22-title">You May Like</li>
						<li class="Rectangle-content-22-product">
							<ul>
								<li class="brand-product-pic"><img src="images/Product/Bitmap0.png"></li>
								<li class="brand-product-ex1">RADIANCE SERUM</li>
								<li class="brand-product-ex2">$78.00</li>
								<li class="brand-product-shop" style="margin-bottom:40px;"><a href="product_detail_page.html">SHOP</a></li>
							</ul>
						</li>
						<li class="Rectangle-content-22-product">
							<ul>
								<li class="brand-product-pic"><img src="images/Product/Bitmap0.png"></li>
								<li class="brand-product-ex1">RADIANCE SERUM</li>
								<li class="brand-product-ex2">$78.00</li>
								<li class="brand-product-shop" style="margin-bottom:40px;"><a href="product_detail_page.html">SHOP</a></li>
							</ul>
						</li>
						<li class="Rectangle-content-22-product">
							<ul>
								<li class="brand-product-pic"><img src="images/Product/Bitmap0.png"></li>
								<li class="brand-product-ex1">RADIANCE SERUM</li>
								<li class="brand-product-ex2">$78.00</li>
								<li class="brand-product-shop" style="margin-bottom:40px;"><a href="product_detail_page.html">SHOP</a></li>
							</ul>
						</li>
						<li class="Rectangle-content-22-product" style="border:none;">
							<ul>
								<li class="brand-product-pic"><img src="images/Product/Bitmap0.png"></li>
								<li class="brand-product-ex1">RADIANCE SERUM</li>
								<li class="brand-product-ex2">$78.00</li>
								<li class="brand-product-shop" style="margin-bottom:40px;"><a href="product_detail_page.html">SHOP</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="Rectangle-content23" style="margin-top:76;">
					<div class="review">Reviews (120)</div>
					<div class="mary-comment">
						<ul>
							<li class="mary-comment-pic"><div class="mary-comment-pic-1"><img src="images/mary-comment-pic.JPG"></div></li>
							<li class="mary-comment-name">Mary</li>
							<li class="mary-comment-time">3/30/2017</li>
							<li class="mary-comment-star"><img src="images/star3.JPG"></li>
							<li class="mary-comment-age"><a class="text-area-1">Age:</a> 30+</li>
							<li class="mary-comment-age"><a class="text-area-1">Skin Type:</a>Dry</li>
							<li class="mary-comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.lit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.</li>
						</ul>
					</div>
					<div class="mary-comment">
						<ul>
							<li class="mary-comment-pic"><div class="mary-comment-pic-1"><img src="images/mary-comment-pic.JPG"></div></li>
							<li class="mary-comment-name">Mary</li>
							<li class="mary-comment-time">3/30/2017</li>
							<li class="mary-comment-star"><img src="images/star3.JPG"></li>
							<li class="mary-comment-age"><a class="text-area-1">Age:</a> 30+</li>
							<li class="mary-comment-age"><a class="text-area-1">Skin Type:</a>Dry</li>
							<li class="mary-comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.lit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.</li>
						</ul>
					</div>
					<div class="mary-comment">
						<ul>
							<li class="mary-comment-pic"><div class="mary-comment-pic-1"><img src="images/mary-comment-pic.JPG"></div></li>
							<li class="mary-comment-name">Mary</li>
							<li class="mary-comment-time">3/30/2017</li>
							<li class="mary-comment-star"><img src="images/star3.JPG"></li>
							<li class="mary-comment-age"><a class="text-area-1">Age:</a> 30+</li>
							<li class="mary-comment-age"><a class="text-area-1">Skin Type:</a>Dry</li>
							<li class="mary-comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.lit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.</li>
						</ul>
					</div>
					<div class="mary-comment">
						<ul>
							<li class="mary-comment-pic"><div class="mary-comment-pic-1"><img src="images/mary-comment-pic.JPG"></div></li>
							<li class="mary-comment-name">Mary</li>
							<li class="mary-comment-time">3/30/2017</li>
							<li class="mary-comment-star"><img src="images/star3.JPG"></li>
							<li class="mary-comment-age"><a class="text-area-1">Age:</a> 30+</li>
							<li class="mary-comment-age"><a class="text-area-1">Skin Type:</a>Dry</li>
							<li class="mary-comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.lit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.</li>
						</ul>
					</div>
					<div class="mary-comment">
						<ul>
							<li class="mary-comment-pic"><div class="mary-comment-pic-1"><img src="images/mary-comment-pic.JPG"></div></li>
							<li class="mary-comment-name">Mary</li>
							<li class="mary-comment-time">3/30/2017</li>
							<li class="mary-comment-star"><img src="images/star3.JPG"></li>
							<li class="mary-comment-age"><a class="text-area-1">Age:</a> 30+</li>
							<li class="mary-comment-age"><a class="text-area-1">Skin Type:</a>Dry</li>
							<li class="mary-comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.lit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.</li>
						</ul>
					</div>
					<div class="mary-comment">
						<ul>
							<li class="mary-comment-pic"><div class="mary-comment-pic-1"><img src="images/mary-comment-pic.JPG"></div></li>
							<li class="mary-comment-name">Mary</li>
							<li class="mary-comment-time">3/30/2017</li>
							<li class="mary-comment-star"><img src="images/star3.JPG"></li>
							<li class="mary-comment-age"><a class="text-area-1">Age:</a> 30+</li>
							<li class="mary-comment-age"><a class="text-area-1">Skin Type:</a>Dry</li>
							<li class="mary-comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.lit. Cras eget nunc condimentum, volutpat diam in, molestie nisl.</li>
						</ul>
					</div>
					<div class="mary-comment-pages"><img src="images/mary-comment-pages.JPG"></div>
				</div>
			</div>
		</div>
		<div class="Rectangle-content3">
			<div class="Rectangle-content32">
				<div class="aboutUs">
					<a class="Rectangle-content-font1">ABOUT US</a>
					<div class="Duis-autem-vel-eum-i">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat. Lorem ipsum dolor sit amet, cosectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam .</div>
				</div>
				<div class="usefulLinks">
					<a class="Rectangle-content-font1">USEFUL LINK</a>
					<div class="Duis-autem-vel-eum-a">
						<ul>
							<li class="Rectangle-content-font3"><a href="aboutUs.html">About Us</a></li>
							<li class="Rectangle-content-font3">Contacts</li>
							<li class="Rectangle-content-font3">Shipping, Return and Exchange</li>
							<li class="Rectangle-content-font3">Terms and conditions</li>
						</ul>
					</div>
				</div>
				<div class="followUs">
					<a class="Rectangle-content-font1">FOLLOW US</a>
					<div class="Duis-autem-vel-eum-a">
						<ul>
							<li class="Rectangle-content-font3">Facebook</li>
							<li class="Rectangle-content-font3">Instagram</li>
							<li class="Rectangle-content-font3">Twitter</li>
							<li class="Rectangle-content-font3">YouTube</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer"><a class="Auru-Pur-2017-All">Auru Pur 2017 | All Rights Reserved</a></div>
	</div>
</body>
<html>
